<section id="portfolio" class="portfolio">
    {% assign categories = site.data.portfolio.portfolios %}

    <header>
        <h1>My Work</h1>
        <span class="byline">
            Choose a category or select an image to enlarge it.
            <noscript>
                <br><strong>Javascript is required to view the slideshow. (Currently Disabled)</strong>
            </noscript>
        </span>
    </header>

    <ul class="categories">
        {% for category in categories limit:1 %}
            <li><button class="active">{{ category.title }}</button></li>
        {% endfor %}
        {% for category in categories offset:1 %}
            <li><button>{{ category.title }}</button></li>
        {% endfor %}
    </ul>

    <div class="portfolio-slideshow">
        {% for category in categories limit:1 %}
            <div class="gallery gallery-{{ category.title }}">
                {% for image in category.images %}
                    <img data-original="{{ image.img_url | relative_path }}" src="{{ image.img_thumbnail | relative_path }}" alt="">
                {% endfor %}
            </div>
        {% endfor %}
        
        {% for category in categories offset:1 %}
            <div class="gallery gallery-{{ category.title }}">
                {% for image in category.images %}
                    <img data-original="{{ image.img_url | relative_path }}" data-lazy="{{ image.img_thumbnail | relative_path }}" alt="">
                {% endfor %}
            </div>
        {% endfor %}
    </div>

</section>
