@import url('https://fonts.googleapis.com/css?family=Lobster');

$whitish: #F1F1F1;

.home section {
    margin-bottom: 15vh;
}

h1, .site-title {
    font-family: 'Lobster', cursive;
}

header {
    margin-bottom: 1em;

    h1, 
    .byline {
        text-align: center;
    }

    h1 {
        font-size: 3em;
        margin: 0;
    }

    .byline {
        font-style: italic;
        display: block;
        font-weight: lighter;
    }
}

.introduction {
    display: flex;
    align-items: flex-start;

    img {
        margin-right: 1em;
        border: 5px solid $whitish;
        max-width: 250px;
    }

    @media(max-width: 600px) {
        flex-direction: column;

        img {
            margin: 0 auto 1em auto;
        }
    }
}

.categories {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    text-align: center;

    @media (max-width: 700px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3px;

        font-size: 0.8em;
        font-weight: 200;
    }

    @media (max-width: 400px) {
        grid-template-columns: repeat(2, 1fr);
    }

    button {
        background: none;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 1.0em;

        text-decoration: underline;


        &.active {
            font-weight: bold;
            text-decoration: none;
            position: relative;

            @media (min-width: 700px) {
                &::after {
                    content: '\276d';
                    transform: rotate(90deg);
                    position: absolute;
                    left: 50%;
                    top: 15px;
                }
            }
        }
    }

    li {
        display: inline-block;
        padding-right: 2em;

        label {
            cursor: pointer;

            &:focus {
                font-weight: bold;
            }
        }
    }
}

.no-js .portfolio-slideshow {
    div:not(:first-child) {
        display: none;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;

    @media (max-width: 700px) {
        grid-template-columns: repeat(2, 1fr);
    }

    img {
        justify-self: center;
        cursor: pointer;
        display: block;
    }
}

.quotes {
    display: block;
    margin: 10px 30px;
    box-sizing: border-box;
    padding-bottom: 15px;

    .quote {
        text-align: center;
        min-height: 150px;

        display: flex !important;
        justify-content: center;
        align-items: center;

        background-image: url('/img/quotes.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .slick-dots li button:before {
        color: #F1F1F1;
        font-size: 12px;
    }

    .slick-dots li.slick-active button:before {
        color: white;
    }
}

.no-js .quote {
    margin-bottom: 3em;
}

.callout {
    text-align: center;
    background-color: #F1F1F1;
    color: #2C2C2C;
    min-height: 300px;
    display: flex;
    font-size: 6vw;
    align-items: center;
    justify-content: center;
    border-radius: 2px;

    a {
        color: #2C2C2C;
    }

    @media (min-width: 800px) {
        font-size: 3em;
    }
}
