<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ site.title }}</title>
        <meta name="description" content="{{ site.description | strip_html }}">

        <link rel="stylesheet" href="{{ 'css/minima.css' | relative_url }}">

        <link rel="shortcut icon" href="{{ 'favicon.jpg' | relative_url }}">
        <link rel="apple-touch-icon" href="{{ 'favicon.jpg' | relative_url }}">

        <!-- Viewer.js Javascript Library Styles -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/0.10.0/viewer.min.css" integrity="sha256-bB3A0CfC8gU5TblqVKWuEkWvfZQyKgE3Fxmpx/0ZCzs=" crossorigin="anonymous" />
    </head>
    <body class="no-js">
        <div id="app">
            {% include header.html %}

            <main class="page-content" aria-label="Content">
                <div class="wrapper">
                    {{ content }}
                </div>
            </main>

            {% include footer.html %}
        </div>

        <!-- Viewer-js library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/0.10.0/viewer.min.js" integrity="sha256-E8dJYYXy263xMWldFu4qdUOZmGD6v/QOJK+27f+kcrA=" crossorigin="anonymous"></script>
        <script>
            // Load Backup Viewer.js if CDN not available
            if (! window.Viewer ) {
                console.warn('Backup Viewer Script/Styles loaded!');
                
                var viewerScript = document.createElement('script');
                viewerScript.setAttribute('src', 'js/viewer.min.js');
                document.body.appendChild(viewerScript);

                var viewerStyle = document.createElement('link');
                viewerStyle.setAttribute('rel', 'stylesheet');
                viewerStyle.setAttribute('href', 'css/viewer.min.css');
                document.body.appendChild(viewerStyle);
            }

            // Load Application Javascript
            var appjs = document.createElement('script');
            appjs.setAttribute('src', '{{ 'js/app.js' | relative_url }}');
            document.body.appendChild(appjs);
        </script>
    </body>
</html>
